.form-container {
    position: relative;
    padding: 30px;
    background-color: var(--purple);
    /* width: 100%; */
    min-height: calc(100vh - 60px);
}

.form-wish-container {
    position: relative;
    width: 100%;
}

/* .form-memory-container {

} */