@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);
@import url('https://fonts.googleapis.com/css2?family=Cantora+One&display=swap');

.main .scrolllist-container {
    display: inline-block;
    width: calc(100% - 40px);
    color: var(--purpletext);
    padding: 20px;
    background-color: var(--purple);
    border-radius: 10px;
    box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.25);
}

.main .scrolllist-item {
    position: relative;
    width: calc(100% - 20px);
    background-color: var(--gray);
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px;
}

.main .scrolllist-arrow {
    position: relative;
    left: 50%;
    height: 20px;
    transform: translateX(-50%);
    padding-top: 10px;
}

.main .scrolllist-text {
    font-family: 'Jeju Gothic', sans-serif;
    font-size:22px;
    padding:7px;
}

.main .scrolllist-item img {
    vertical-align: middle;
    position: relative;
    float: right;
    height: 20px;
    padding: 0 5px;
    /* transform: translateY(-50%); */
}

.main .scrolllist-name {
    font-size:50px;
    font-family: 'Cantora One', sans-serif;
}