.shortlist-container {
    display: inline-block;
    width: calc(50% - 20px);
    color: var(--browntext);
    padding: 10px;
}

.shortlist-item {
    position: relative;
    width: calc(100% - 20px);
    background-color: var(--yellow);
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
}

.shortlist-item img {
    width: 25%;
    padding-right: 10px;
}

.shortlist-text {
    display: inline-block;
    position: relative;
    width: calc(75% - 10px);
    vertical-align: top;
    /* top: 50%; */
    /* transform: translateY(-50%); */
}

.shortlist-name {
    font-weight: bold;
}