@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);
@import url('https://fonts.googleapis.com/css2?family=Cantora+One&display=swap');

.home_background{
    position: relative;
    /* display:flex;
    flex-direction:column;
    justify-content:flex-end; */
    background:#F0DB92;
    width: 100vw;
    height:100vh;
    z-index:0;
    overflow: hidden;
}

.backcircle{
    position: absolute;
    width:50%;
    padding-bottom:50%;
    background-color: #29394B;
    border-radius:50%;
    position:absolute;
    z-index:1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -40%);
}

.animation_position{
    overflow: hidden;
    position:absolute;
    z-index: 6;
    left: 50%;
    width: 120%;
    height: 120%;
    transform: translate(-50%, -7%);
}

.signinbuttonup{
    position:absolute;
    z-index:10;
}