input[type=range] { 
    overflow: hidden;
    width:600px; 
    -webkit-appearance: none; 
    background-color:#E0E0E0; 
}

input[type=range]::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 1px;
    width: 1px;
    border-radius: 1px;
    background:#EDF4C0;
    box-shadow: -650px 0 0 650px #EDF4C0;
}

input[type='range']::-webkit-slider-runnable-track {
    height: 10px;
    -webkit-appearance: none;
    color: #011412;
  }

