:root {
  --lightgreen: #F1FFE6;
  --green: #B8E0AF;
  --darkgreen: #9BAF94;
  --yellow: #E5E6B2;
  --purple: #C9BFDC;
  --gray: #EEEEEE;
  --turquoise: #63A990;
  --blue: #7CA7B5;
  --browntext: #787939;
  --purpletext: #7D6C9E;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
